<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Unicase|PT+Sans|Sigmar+One">
<mat-toolbar  style="background-color:#000;padding:20px;height:100px;">
    <h1 style="float:left;color:#fff;font-family: 'Vollkorn SC', serif; font-size: 46px;font-weight:normal;">Hot Yoga Inc.</h1>
    <span class="fill-remaining-space"></span>
    <img src="../assets/slogan.png"/>
</mat-toolbar >

<br clear="all"/>
<mat-tab-group>
    <mat-tab *ngFor="let location of locations" 
      [class.selected]="location === selectedLocation"
      (selectedTabChange)="onClick(location)"
      (click)="foo()"
      label="{{location}}">

      <h2>{{location}}</h2>
    </mat-tab>
</mat-tab-group>


  <span *ngIf="selectedLocation">
      <img [src]="urlVariable" />
</span>

<div class="container-fluid mat-app-background">



  <app-header></app-header>


  <header class="marketing-banner"><h1>{{ selectedLocation }}</h1></header>


  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
    <button mat-menu-item>System settings</button>
  </mat-menu>
  
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item *ngFor="let location of locations">{{location}}</button>
  </mat-menu>
  
  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>